@import '~antd/dist/antd.css';
@import 'react-toastify/dist/ReactToastify.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.ant-picker-input>input {
  color: #fff;
}

.ant-picker-input>input::placeholder {
  color: #fff!important;
}

.anticon svg {
  fill: #fff;
}

.ant-picker-input:hover > .anticon .anticon-calendar {
  background: transparent;
}

